services:
  frontend:
    build: ./Front_SAYEF_React
    ports:
      - "5173:80"
    depends_on:
      - backend

  backend:
    build: ./BackEnd_SAYEF
    ports:
      - "8080:8080"
    env_file:
      - .env
    depends_on:
      - mongo

  mongo:
    image: mongo:7
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data:
